@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

/* styles/globals.css atau file CSS khusus komponen */
/* Scrollbar untuk browser berbasis WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Warna track (background scrollbar) */
  border-radius: 4px; /* Membuat track scrollbar melengkung */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Warna thumb (bagian yang bisa digerakkan) */
  border-radius: 4px; /* Membuat thumb scrollbar melengkung */
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Warna thumb saat dihover */
}

/* Scrollbar untuk Firefox */
* {
  scrollbar-width: thin; /* Lebar scrollbar */
  scrollbar-color: #4a5568 #2d3748; /* Warna thumb dan track */
}
